@font-face {
	font-family: 'icomoon';
	src:url('fonts/micomoon.eot?jv7xtl');
	src:url('fonts/micomoon.eot?#iefixjv7xtl') format('embedded-opentype'),
		url('fonts/micomoon.woff?jv7xtl') format('woff'),
		url('fonts/micomoon.ttf?jv7xtl') format('truetype'),
		url('fonts/micomoon.svg?jv7xtl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="micon-"], [class*=" micon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.micon-svg:before {
	content: "\e600";
}
.micon-svg2:before {
	content: "\e601";
}
.micon-svg3:before {
	content: "\e602";
}
.micon-svg4:before {
	content: "\e603";
}
.micon-svg5:before {
	content: "\e604";
}
.micon-svg6:before {
	content: "\e605";
}
.micon-svg7:before {
	content: "\e618";
}
.micon-svg8:before {
	content: "\e619";
}
.micon-svg9:before {
	content: "\e61a";
}
.micon-svg10:before {
	content: "\e61b";
}
.micon-svg11:before {
	content: "\e61c";
}
.micon-svg12:before {
	content: "\e61d";
}
.micon-svg13:before {
	content: "\e61e";
}
.micon-svg72:before {
	content: "\e606";
}
.micon-svg82:before {
	content: "\e607";
}
.micon-svg92:before {
	content: "\e608";
}
.micon-svg102:before {
	content: "\e609";
}
.micon-svg112:before {
	content: "\e60a";
}
.micon-svg122:before {
	content: "\e60b";
}
.micon-svg14:before {
	content: "\e61f";
}
.micon-svg15:before {
	content: "\e620";
}
.micon-svg16:before {
	content: "\e621";
}
.micon-svg17:before {
	content: "\e622";
}
.micon-svg18:before {
	content: "\e623";
}
.micon-svg19:before {
	content: "\e624";
}
.micon-svg20:before {
	content: "\e625";
}
.micon-svg132:before {
	content: "\e60c";
}
.micon-svg142:before {
	content: "\e60d";
}
.micon-svg152:before {
	content: "\e60e";
}
.micon-svg162:before {
	content: "\e60f";
}
.micon-svg172:before {
	content: "\e610";
}
.micon-svg182:before {
	content: "\e611";
}
.micon-svg21:before {
	content: "\e626";
}
.micon-svg22:before {
	content: "\e627";
}
.micon-svg23:before {
	content: "\e628";
}
.micon-svg24:before {
	content: "\e629";
}
.micon-svg25:before {
	content: "\e62a";
}
.micon-svg26:before {
	content: "\e62b";
}
.micon-svg27:before {
	content: "\e62c";
}
.micon-svg192:before {
	content: "\e612";
}
.micon-svg202:before {
	content: "\e613";
}
.micon-svg212:before {
	content: "\e614";
}
.micon-svg222:before {
	content: "\e615";
}
.micon-svg232:before {
	content: "\e616";
}
.micon-svg242:before {
	content: "\e617";
}
.absolute{
	position:absolute; top:10px; right:25px;cursor:pointer
}